.indep-text-left {
  text-align: left;
}

.indep-text-right {
  text-align: right;
}

.indep-text-center {
  text-align: center;
}

.indep-text-justify {
  text-align: justify;
}

.indep-text-nowarp {
  white-space: nowrap;
}

.indep-text-capitalize {
  text-transform: capitalize;
}

.indep-text-lowercase {
  text-transform: lowercase;
}

.indep-text-uppercase {
  text-transform: uppercase;
}

.indep-text-normal {
  font-style: normal;
}

.indep-text-italic {
  font-style: italic;
}

.indep-text-bold {
  font-weight: bold;
}

.indep-text-underline {
  text-decoration: underline;
}

.indep-text-line-through {
  text-decoration: line-through;
}

.indep-text-clear {
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

.indep-text-truncating {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indep-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.indep-img-responsive-inline-block {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.indep-img-circle {
  border-radius: 50%;
}

.indep-float-left {
  float: left;
}

.indep-float-right {
  float: right;
}

.indep-float-none {
  float: none !important;
}

.indep-clear-float {
  clear: both;
}

.indep-clear-float-parent::before, .indep-clear-float-parent::after {
  content: ' ';
  display: table;
}

.indep-clear-float-parent::after {
  clear: both;
}

.indep-hidden {
  display: none !important;
}

.indep-invisible {
  visibility: hidden;
}
