.indep-visible-mob-xs {
  display: none !important;
}

.indep-visible-mob-sm {
  display: none !important;
}

.indep-visible-mob-md {
  display: none !important;
}

.indep-visible-mob-lg {
  display: none !important;
}

.indep-visible-pha-xs {
  display: none !important;
}

.indep-visible-pha-sm {
  display: none !important;
}

.indep-visible-pha-md {
  display: none !important;
}

.indep-visible-pha-lg {
  display: none !important;
}

.indep-visible-tab-sm {
  display: none !important;
}

.indep-visible-tab-md {
  display: none !important;
}

.indep-visible-tab-lg {
  display: none !important;
}

.indep-visible-lab-sm {
  display: none !important;
}

.indep-visible-lab-md {
  display: none !important;
}

.indep-visible-lab-lg {
  display: none !important;
}

.indep-visible-des-sm {
  display: none !important;
}

.indep-visible-des-md {
  display: none !important;
}

.indep-visible-des-lg {
  display: none !important;
}

.indep-visible-mob-xs-block,
.indep-visible-mob-xs-inline,
.indep-visible-mob-xs-inline-block,
.indep-visible-mob-sm-block,
.indep-visible-mob-sm-inline,
.indep-visible-mob-sm-inline-block,
.indep-visible-mob-md-block,
.indep-visible-mob-md-inline,
.indep-visible-mob-md-inline-block,
.indep-visible-mob-lg-block,
.indep-visible-mob-lg-inline,
.indep-visible-mob-lg-inline-block,
.indep-visible-pha-xs-block,
.indep-visible-pha-xs-inline,
.indep-visible-pha-xs-inline-block,
.indep-visible-pha-sm-block,
.indep-visible-pha-sm-inline,
.indep-visible-pha-sm-inline-block,
.indep-visible-pha-md-block,
.indep-visible-pha-md-inline,
.indep-visible-pha-md-inline-block,
.indep-visible-pha-lg-block,
.indep-visible-pha-lg-inline,
.indep-visible-pha-lg-inline-block,
.indep-visible-tab-sm-block,
.indep-visible-tab-sm-inline,
.indep-visible-tab-sm-inline-block,
.indep-visible-tab-md-block,
.indep-visible-tab-md-inline,
.indep-visible-tab-md-inline-block,
.indep-visible-tab-lg-block,
.indep-visible-tab-lg-inline,
.indep-visible-tab-lg-inline-block,
.indep-visible-lab-sm-block,
.indep-visible-lab-sm-inline,
.indep-visible-lab-sm-inline-block,
.indep-visible-lab-md-block,
.indep-visible-lab-md-inline,
.indep-visible-lab-md-inline-block,
.indep-visible-lab-lg-block,
.indep-visible-lab-lg-inline,
.indep-visible-lab-lg-inline-block,
.indep-visible-des-sm-block,
.indep-visible-des-sm-inline,
.indep-visible-des-sm-inline-block,
.indep-visible-des-md-block,
.indep-visible-des-md-inline,
.indep-visible-des-md-inline-block,
.indep-visible-des-lg-block,
.indep-visible-des-lg-inline,
.indep-visible-des-lg-inline-block {
  display: none !important;
}

@media (max-width: 359px) {
  .indep-visible-mob-xs {
    display: block !important;
  }
  table.indep-visible-mob-xs {
    display: table !important;
  }
  tr.indep-visible-mob-xs {
    display: table-row !important;
  }
  th.indep-visible-mob-xs,
  td.indep-visible-mob-xs {
    display: table-cell !important;
  }
}

@media (max-width: 359px) {
  .indep-visible-mob-xs-block {
    display: block !important;
  }
}

@media (max-width: 359px) {
  .indep-visible-mob-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 359px) {
  .indep-visible-mob-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .indep-visible-mob-sm {
    display: block !important;
  }
  table.indep-visible-mob-sm {
    display: table !important;
  }
  tr.indep-visible-mob-sm {
    display: table-row !important;
  }
  th.indep-visible-mob-sm,
  td.indep-visible-mob-sm {
    display: table-cell !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .indep-visible-mob-sm-block {
    display: block !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .indep-visible-mob-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .indep-visible-mob-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .indep-visible-mob-md {
    display: block !important;
  }
  table.indep-visible-mob-md {
    display: table !important;
  }
  tr.indep-visible-mob-md {
    display: table-row !important;
  }
  th.indep-visible-mob-md,
  td.indep-visible-mob-md {
    display: table-cell !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .indep-visible-mob-md-block {
    display: block !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .indep-visible-mob-md-inline {
    display: inline !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .indep-visible-mob-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 411px) and (max-width: 479px) {
  .indep-visible-mob-lg {
    display: block !important;
  }
  table.indep-visible-mob-lg {
    display: table !important;
  }
  tr.indep-visible-mob-lg {
    display: table-row !important;
  }
  th.indep-visible-mob-lg,
  td.indep-visible-mob-lg {
    display: table-cell !important;
  }
}

@media (min-width: 411px) and (max-width: 479px) {
  .indep-visible-mob-lg-block {
    display: block !important;
  }
}

@media (min-width: 411px) and (max-width: 479px) {
  .indep-visible-mob-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 411px) and (max-width: 479px) {
  .indep-visible-mob-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .indep-visible-pha-xs {
    display: block !important;
  }
  table.indep-visible-pha-xs {
    display: table !important;
  }
  tr.indep-visible-pha-xs {
    display: table-row !important;
  }
  th.indep-visible-pha-xs,
  td.indep-visible-pha-xs {
    display: table-cell !important;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .indep-visible-pha-xs-block {
    display: block !important;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .indep-visible-pha-xs-inline {
    display: inline !important;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .indep-visible-pha-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  .indep-visible-pha-sm {
    display: block !important;
  }
  table.indep-visible-pha-sm {
    display: table !important;
  }
  tr.indep-visible-pha-sm {
    display: table-row !important;
  }
  th.indep-visible-pha-sm,
  td.indep-visible-pha-sm {
    display: table-cell !important;
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  .indep-visible-pha-sm-block {
    display: block !important;
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  .indep-visible-pha-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  .indep-visible-pha-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 640px) and (max-width: 730px) {
  .indep-visible-pha-md {
    display: block !important;
  }
  table.indep-visible-pha-md {
    display: table !important;
  }
  tr.indep-visible-pha-md {
    display: table-row !important;
  }
  th.indep-visible-pha-md,
  td.indep-visible-pha-md {
    display: table-cell !important;
  }
}

@media (min-width: 640px) and (max-width: 730px) {
  .indep-visible-pha-md-block {
    display: block !important;
  }
}

@media (min-width: 640px) and (max-width: 730px) {
  .indep-visible-pha-md-inline {
    display: inline !important;
  }
}

@media (min-width: 640px) and (max-width: 730px) {
  .indep-visible-pha-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 731px) and (max-width: 767px) {
  .indep-visible-pha-lg {
    display: block !important;
  }
  table.indep-visible-pha-lg {
    display: table !important;
  }
  tr.indep-visible-pha-lg {
    display: table-row !important;
  }
  th.indep-visible-pha-lg,
  td.indep-visible-pha-lg {
    display: table-cell !important;
  }
}

@media (min-width: 731px) and (max-width: 767px) {
  .indep-visible-pha-lg-block {
    display: block !important;
  }
}

@media (min-width: 731px) and (max-width: 767px) {
  .indep-visible-pha-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 731px) and (max-width: 767px) {
  .indep-visible-pha-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .indep-visible-tab-sm {
    display: block !important;
  }
  table.indep-visible-tab-sm {
    display: table !important;
  }
  tr.indep-visible-tab-sm {
    display: table-row !important;
  }
  th.indep-visible-tab-sm,
  td.indep-visible-tab-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .indep-visible-tab-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .indep-visible-tab-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .indep-visible-tab-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 960px) and (max-width: 1023px) {
  .indep-visible-tab-md {
    display: block !important;
  }
  table.indep-visible-tab-md {
    display: table !important;
  }
  tr.indep-visible-tab-md {
    display: table-row !important;
  }
  th.indep-visible-tab-md,
  td.indep-visible-tab-md {
    display: table-cell !important;
  }
}

@media (min-width: 960px) and (max-width: 1023px) {
  .indep-visible-tab-md-block {
    display: block !important;
  }
}

@media (min-width: 960px) and (max-width: 1023px) {
  .indep-visible-tab-md-inline {
    display: inline !important;
  }
}

@media (min-width: 960px) and (max-width: 1023px) {
  .indep-visible-tab-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .indep-visible-tab-lg {
    display: block !important;
  }
  table.indep-visible-tab-lg {
    display: table !important;
  }
  tr.indep-visible-tab-lg {
    display: table-row !important;
  }
  th.indep-visible-tab-lg,
  td.indep-visible-tab-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .indep-visible-tab-lg-block {
    display: block !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .indep-visible-tab-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .indep-visible-tab-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .indep-visible-lab-sm {
    display: block !important;
  }
  table.indep-visible-lab-sm {
    display: table !important;
  }
  tr.indep-visible-lab-sm {
    display: table-row !important;
  }
  th.indep-visible-lab-sm,
  td.indep-visible-lab-sm {
    display: table-cell !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .indep-visible-lab-sm-block {
    display: block !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .indep-visible-lab-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .indep-visible-lab-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .indep-visible-lab-md {
    display: block !important;
  }
  table.indep-visible-lab-md {
    display: table !important;
  }
  tr.indep-visible-lab-md {
    display: table-row !important;
  }
  th.indep-visible-lab-md,
  td.indep-visible-lab-md {
    display: table-cell !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .indep-visible-lab-md-block {
    display: block !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .indep-visible-lab-md-inline {
    display: inline !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .indep-visible-lab-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .indep-visible-lab-lg {
    display: block !important;
  }
  table.indep-visible-lab-lg {
    display: table !important;
  }
  tr.indep-visible-lab-lg {
    display: table-row !important;
  }
  th.indep-visible-lab-lg,
  td.indep-visible-lab-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .indep-visible-lab-lg-block {
    display: block !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .indep-visible-lab-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .indep-visible-lab-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .indep-visible-des-sm {
    display: block !important;
  }
  table.indep-visible-des-sm {
    display: table !important;
  }
  tr.indep-visible-des-sm {
    display: table-row !important;
  }
  th.indep-visible-des-sm,
  td.indep-visible-des-sm {
    display: table-cell !important;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .indep-visible-des-sm-block {
    display: block !important;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .indep-visible-des-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .indep-visible-des-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .indep-visible-des-md {
    display: block !important;
  }
  table.indep-visible-des-md {
    display: table !important;
  }
  tr.indep-visible-des-md {
    display: table-row !important;
  }
  th.indep-visible-des-md,
  td.indep-visible-des-md {
    display: table-cell !important;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .indep-visible-des-md-block {
    display: block !important;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .indep-visible-des-md-inline {
    display: inline !important;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .indep-visible-des-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 2560px) {
  .indep-visible-des-lg {
    display: block !important;
  }
  table.indep-visible-des-lg {
    display: table !important;
  }
  tr.indep-visible-des-lg {
    display: table-row !important;
  }
  th.indep-visible-des-lg,
  td.indep-visible-des-lg {
    display: table-cell !important;
  }
}

@media (min-width: 2560px) {
  .indep-visible-des-lg-block {
    display: block !important;
  }
}

@media (min-width: 2560px) {
  .indep-visible-des-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 2560px) {
  .indep-visible-des-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 359px) {
  .indep-hidden-mob-xs {
    display: none !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .indep-hidden-mob-sm {
    display: none !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .indep-hidden-mob-md {
    display: none !important;
  }
}

@media (min-width: 411px) and (max-width: 479px) {
  .indep-hidden-mob-lg {
    display: none !important;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .indep-hidden-pha-xs {
    display: none !important;
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  .indep-hidden-pha-sm {
    display: none !important;
  }
}

@media (min-width: 640px) and (max-width: 730px) {
  .indep-hidden-pha-md {
    display: none !important;
  }
}

@media (min-width: 731px) and (max-width: 767px) {
  .indep-hidden-pha-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .indep-hidden-tab-sm {
    display: none !important;
  }
}

@media (min-width: 960px) and (max-width: 1023px) {
  .indep-hidden-tab-md {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .indep-hidden-tab-lg {
    display: none !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .indep-hidden-lab-sm {
    display: none !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .indep-hidden-lab-md {
    display: none !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .indep-hidden-lab-lg {
    display: none !important;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .indep-hidden-des-sm {
    display: none !important;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .indep-hidden-des-md {
    display: none !important;
  }
}

@media (min-width: 2560px) {
  .indep-hidden-des-lg {
    display: none !important;
  }
}
